/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 8, 2022, 9:15:28 PM
    Author     : howan
*/

@import "./fonts/Ravenna/Ravenna.css";

:root {
    font-size: 14px;
}

[data-font="font_default"] {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
}

[data-font="font_default"] [data-fontmod="items"] {
    font-size: 1rem;
}