body,html { background-color: #737373; padding: 0; margin: 0;}
header  {background-color: #373737; height: 45px; padding: 0px 5px; outline: none;}
header button   {font-family: Ravenna; color: #ffffff; background: none;  
                height: 30px; outline: none; top: 7px; border: none; border:solid; position:absolute;}

header button:hover {color: #00ffff;}
header button:active{color: #213126;}
/* #fileSubmenu button {} */
#discord {left: 160px}
#randoSettings {left:  315px;}
#trackerSettings {left: 520px;}
#fileDropdown button, #discord {width: 150px;}
#randoSettings, #trackerSettings {width: 200px;}
#fileDropdown {height: 45px; margin:0px; padding: 0px;}
#fileSubmenu {display: none ; border: none; outline: none; z-index: 1;}
#fileDropdown:hover #fileSubmenu {display: grid; width: 200px; position: fixed;}
#fileSubmenu button {background-color: #373737;}