@import url("font.css");

#textbox{
    font-size: 10px;
}

.grid-item {
    /* background-image: url('/images/ItemBox.png'); */
    background-size: 60px 600px;
    background-color: blue;
    height: 60px;
    width: 60px;
}

.sidebar a{
    width: 245px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 60px;
    grid-auto-columns: 60px;
    column-gap: 5px;
    row-gap: 5px;
}

#Item {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

#Other {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.grid {
    padding-left: 5px;
}

#open {
    width: 30px;
    height: 60px;
    top: 10px;
    margin-top: 10px;
    font-size: 25px;
    z-index: 1;
}

#sidebar #close {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #111;
    text-decoration: none;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 45px;
    left: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

hr.solid {
    border-top: 3px solid #00ffff;
    margin-top: 5px;
    margin-bottom: 5px;

  }